<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpKPTOLC82D9AcMOdCGgSMWZ04s0rBv9A</string>
	<key>GCM_SENDER_ID</key>
	<string>422947212637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shippingApp</string>
	<key>PROJECT_ID</key>
	<string>shippingapp-71c75</string>
	<key>STORAGE_BUCKET</key>
	<string>shippingapp-71c75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422947212637:ios:d46faab85a7c87dab92cb4</string>
</dict>
</plist>